# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.log.*

# Diretórios temporários
tmp/
temp/

# Arquivos de sistema e editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ambiente local
.env
.env.local
.env.*.local

# Build outputs (se você gerar build)
dist/
build/

# Test coverage
coverage/

# Outros
*.tsbuildinfo

# Pasta gerada pelo nyc (coverage)
.nyc_output/

# Pasta gerada pelo reify
.reify-cache/
